

body {
    background-color: #e9ef2b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    padding-bottom: 800px;
    padding-top: 100px;
    width: auto;
    height: auto;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    color: #333333;
    margin-top: 20px;
}

h2{
    font-size: 40px;
    text-align: left;
    font-family: 'Arial Black', sans-serif;
    color: #333333;
    margin-top: 20px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #7d0606;
}
   
h4 {
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #550704;
    text-align: center;
}   

h5 {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #550704;
    text-align: center;
}
p{
        font-size: 30px;
        color: #713b04;
        line-height: 1.6;   
        margin-bottom: 20px;
    }

        
    

.navbar{
   
    width: 100%;
    position: fixed;
  top: 0%;
  left: 0%;
    min-height: 100px;
}

.navbar ul{

    list-style-type: none;
    background-color: hsl(21, 85%, 42%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    min-height: 100px;
}

.navbar a{

    color: rgb(17, 75, 176);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: left;
}

.navbar a:hover{

    background-color: hsl(46, 70%, 45%);

}
.navbar li{

    float: left;

} 




#container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 30px;
    padding: 10px;
}


#album1 img,
#album2 img,
#album3 img,
#album4 img,
#album5 img {
    transition: transform 0.5s;
    max-width: 75%;
    height: auto;
}

#album1:hover img,
#album2:hover img,
#album3:hover img,
#album4:hover img,
#album5:hover img {
    transform: scale(1.5) translateY(50px);
}

#record {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    float:right
}
#content1 {
    max-width: 100%;
    height: auto;

    transform: scale(0.5 );
    
    position:relative;
    top: 700px;
    bottom: 20px;
    left: 120px;
}
#heckyeah {
    max-width: 100%;
    height: auto;
    transform: scale(0.35);
    position:absolute;
  bottom: 450px;
    right: 50px;
    left: 300px;
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: hsl(185, 79%, 65%);
    left: 0%;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
}